<!DOCTYPE html>
<html lang="{{ app.locale|slice(0,2) }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Avris Docs{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset(assets.css) }}">
    <link rel="shortcut icon" href="{% block favicon %}{{ asset('assetic/gfx/favicon.ico') }}{% endblock %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
{% block content %}{% endblock %}
<script src="{{ asset(assets.js) }}"></script>
</body>
</html>
