{% extends 'layout' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 project-list">
                <h1>
                    <span class="icon-file-text-o"></span> Avris Docs
                </h1>
                <h2>404 - Not found</h2>
                <p><a href="{{ route('home') }}">Back to homepage</a></p>
            </div>
        </div>
    </div>
{% endblock %}