=transition ($options)
  -webkit-transition: $options
  -moz-transition: $options
  -o-transition: $options
  transition: $options

$navWidth: 200px
$rwdLg: 760px

body
  margin-bottom: 48px
  position: relative
h1, .h1, h2, .h2, h3, .h3, h4, .h4
  margin-top: 10px
  margin-bottom: 20px
p
  text-align: justify

.container
  margin-top: 48px

.project-list
  text-align: center
  p
    text-align: center

#hamburger
  position: fixed
  top: 16px
  right: 16px
  padding: 6px 10px 2px 10px
  font-size: 1.2em

nav >.nav
  position: fixed
  top: 0
  width: $navWidth
  overflow-y: auto
  background-color: #f5f5f5
  border-right: 1px solid #cccccc
  >li
    a
      padding: 5px 10px
    li
      display: none
      font-size: 0.8em
      padding-left: 16px
    &.active
      li
        display: block
    &, li
      >a:hover,
      >a:focus
        background-color: transparent
      &.active>a,
      &.active>a:hover,
      &.active>a:focus
        color: #0a008e
        background-color: transparent
    &.active>a,
    &.active>a:hover,
    &.active>a:focus
      color: #ffffff
      background-color: #2780e3
    &.logo>a
      color: #ffffff
      background-color: #0a008e
      text-align: center
      font-size: 1.8em
      font-weight: bold

footer
  position: fixed
  bottom: 0
  left: 0
  width: $navWidth
  z-index: 99

main
  padding: 0 25px
  h1, h2, h3
    padding-top: 16px
  .docs-container
    max-width: 1000px

.btn-light
  color: #000
  background-color: #D4D4D4
  border-color: #D4D4D4
  &:hover, &:active, &:focus
    color: #000
    background-color: #C3C3C3
    border-color: #C3C3C3

.text-strong
  font-weight: bold !important

@media (min-width: $rwdLg)
  main
    margin-left: $navWidth
  #hamburger
    display: none

@media (max-width: $rwdLg)
  nav >.nav, footer
    left: -$navWidth
    &.shown
      left: 0
    +transition(left 0.2s ease-out)
