@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?yhch3y');
    src:    url('fonts/icomoon.eot?yhch3y#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?yhch3y') format('truetype'),
        url('fonts/icomoon.woff?yhch3y') format('woff'),
        url('fonts/icomoon.svg?yhch3y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tag:before {
    content: "\f02b";
}
.icon-hamburger:before {
    content: "\f039";
}
.icon-github:before {
    content: "\f09b";
}
.icon-file-text-o:before {
    content: "\f0f6";
}

