{% extends 'layout' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 project-list">
                <h1>
                    <span class="icon-file-text-o"></span> Avris Docs
                </h1>
                <ul class="nav">
                    {% for project in projects %}
                        <li>
                            <a href="{{ route('docsShow', {project: project.id}) }}">
                                <strong>{{ project.name }}</strong>
                                {% if project.description %} • {{ project.description }}{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}