{% extends 'layout' %}

{% block title %}{{ project.name }}{% if project.description %} • {{ project.description }}{% endif %}{% endblock %}

{% block favicon %}{{ asset('assetic/gfx/'~project.id~'.ico') }}{% endblock %}

{% block content %}
    <button id="hamburger" class="btn btn-light"><span class="icon-hamburger"></span></button>
    <nav>
        <ul class="nav">
            <li class="logo">
                <a href="{{ project.website ?: project.repository }}" target="_blank">
                    {{ project.name }}
                </a>
            </li>
            {% for chapter in docs.chapters %}
                <li{% if loop.first %} class="active"{% endif %}>
                    <a href="#{{ chapter.id }}">{{ chapter.name }}</a>
                    {% if chapter.subchapters|length %}
                        <ul class="nav">
                            {% for subchapter in chapter.subchapters %}
                                <li><a href="#{{ subchapter.id }}">{{ subchapter.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        <div class="docs-container">
            <h1>
                {{ project.name }}
                <small>{{ project.description }}</small>
            </h1>
            {% if docs.content %}
                {{ docs.content|raw }}
            {% else %}
                <div class="text-center">
                    <h2>Not found</h2>
                    <p>This version doesn't have related documentation.</p>
                    <p>Try another one: {% include 'Docs/version.html.twig' %}</p>
                </div>
            {% endif %}
        </div>
    </main>
    <footer>
        <div class="btn-group btn-group-justified">
            <a href="{{ project.repository(false) }}" target="_blank" class="btn btn-light btn-xs">
                <span class="icon-github"></span>
                Repository
            </a>
            {% include 'Docs/version.html.twig' with {dropup: true} %}
        </div>
    </footer>
{% endblock %}