<div class="btn-group{% if dropup is defined and dropup %} dropup{% endif %}">
    <button class="btn btn-light btn-xs btn-block dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="icon-tag"></span> {{ currentTag }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for tag in tags %}
            <li><a href="{{ route('docsShow', {project: project.id, branch: tag}) }}" class="btn-xs{% if currentTag == tag %} text-strong{% endif %}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</div>
